.env
data
output

!scripts/data
!tests/unit/scripts/data
__pycache__

*.code-workspace

*.cmd

*.sh

*.png

my_configs/

run_all_metrics.py
compile_rag_results.py
compile_finetuned_results.py
rag_results_summary*.csv
finetuned_results_summary*.csv
plot_results.py

scripts_extra